.App {
    text-align: center;
}

.fade-enter {
    opacity: 0.01;
}
.fade-enter-active {
    opacity: 1;
    transition: all 5s;
}
.fade-exit {
   opacity: 1;
}
.fade-exit-active {
   opacity: 0.01;
   transition: all 2s;
}
  